parameters:
	ignoreErrors:
		-
			identifier: argument.type
			message: '#^Parameter \#1 \$transformer of method .*?Traceable\<.*?\>\:\:addTransformer\(\) expects .*?Transformer\<contravariant .*?, .*?\>, .*? given.$#'
