parameters:
	level: max
	# Intent: ignore errors for narrowing types of a generic type.
	treatPhpDocTypesAsCertain: false
	paths:
		- Src/
		- Tests/
	ignoreErrors:
		- # Ignore transformers keyed by value of Table enum.
			path: Src/Traits/Table/TableExtractor.php
			identifier: assign.propertyType
			message: '#^Property .*?::\$discoveredTable__transformers \(array{.*?}\) does not accept non-empty-array<.*?>.$#'
