includes:
	- phpstan-common.neon
parameters:
	level: max
	# Intent: ignore errors for narrowing types of a generic type.
	treatPhpDocTypesAsCertain: false
	stubFiles:
		- Stubs/BackedEnum.stub
	paths:
		- Src/
		- Tests/
	ignoreErrors:
		-
			identifier: generics.noParent
			message: '#^Enum .*? has \@implements tag\, but does not implement any interface\.$#'
		-
			identifier: missingType.generics
			message: '#^.*? generic interface BackedEnum but does not specify its types\: TBackedValue$#'
		-
			path: Src/Traits/Table/TableExtractor.php
			messages:
				- '#^Property .*?::\$discoveredTable__transformers \(array{.*?}\) does not accept non-empty-array<.*?>.$#'
				- '#^.*?\:\:useCurrentTableColumnDetails\(\) should return array\{.*?\} but returns array\{.*?MarshallItem\}\.$#'
		- # Ignore DOMNodeList->childNodes->getIterator() not being an iterator.
			path: Src/Marshaller/MarshallTableRow.php
			identifier: return.type
			message: '#^Method .*?MarshallTableRow\:\:validate\(\) should return iterable\<int, DOMNode\|list\<array\{string, string, string, string, string\}\>\> but returns array\<mixed\>\|Traversable\<int, DOMNode\>\.$#'
		-
			path: Src/Helper/Normalize.php
			identifier: return.type
			count: 1
			message: '#^Method .*?Normalize\:\:nodeToMatchedArray\(\) should return array\{int\|false, list\<array\{string, string, string\}\|string\>\} but returns array\{int\<0, max\>\|false, array\<array\<string\>\|string\>\}\.$#'
		- # Ignore uninitialized property using reflection.
			path: Src/Attributes/CollectUsing.php
			count: 1
			message: '#^Property .*?CollectUsing\:\:\$enumClass .*? is not nullable nor uninitialized.$#'
		-
			path: Src/Data/TableCell.php
			identifier: missingType.generics
			message: '#^Method .*?TableCell\:\:.*?\(\) return type with generic class .*?TableCell does not specify its types\: TableCellValue$#'
		-
			identifier: return.type
			message: '#^.*? should return .*?Factory\<.*?\> but returns .*?Factory\<mixed\>.$#'
