parameters:
	ignoreErrors:
		-
			identifier: missingType.generics
			message: '#^.*?\:\:addTransformer\(\) has parameter \$transformer with generic interface .*?Transformer but does not specify its types\: TScope\, TransformedValue$#'
