parameters:
	level: max
	paths:
		- Src/
		- Tests/
	ignoreErrors:
		- # Only certain from PHPDoc generic type. Can be turned off with treatPhpDocTypesAsCertain: false
			message: '|with string will always evaluate to true|'
			identifier: function.alreadyNarrowedType
			path: Src/Traits/TableNodeAware.php
